$title
$symmetry cs
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
$atoms
    basis =def-SV(P)
    cbas  =def-SV(P)
    jbas  =def-SV(P)
$basis    file=basis
$scfmo   file=mos
$closed shells
 a'      1-8                                    ( 2 )
 a"      1-2                                    ( 2 )
$scfiterlimit       30
$scfconv        7
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$energy    file=energy
$grad    file=gradient
$ricore    10000
$rij
$jbas    file=auxbasis
$marij
$denconv     0.10000000E-06
$cbas    file=auxbasis
$rundimensions
   natoms=6
$last step     define
$ricc2
  mp2
$end
